{% for product in products %}
	<div class="col mb-5">
		<div class="card h-100">
			<img src="{{product.image}}" class="card-img-top" alt="...">
			<div class="card-body h-100">
				<h5 class="card-title">{{product.title}}</h5>
				<p class="card-text">{{product.content}}</p>
				<p class="card-text">{{product.price}}€</p>
				<a href="{{ path('app_product_details', { 'id': product.id}) }}" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
{% endfor %}
